<!DOCTYPE html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" type="text/css" href="/static/style.css" />
  <title>Tic Tac Toe</title>
  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TimelineMax.min.js"></script>
</head>

<body>
  <div class="main" style="height:100vh;width:100%;min-width: 700px;">
    <div class="top" style="display:flex;">
      <div>
        <img
          src="/static/title.gif"  
          style="height:60px; width:200px;"
          style="flex:1;"
        />
      </div>
      <div class="nav" style="flex:1;text-align:right; ">
        <a href="com.html" title="resets the game ">Restart</a>
        <a href="index.html" title="Home">Home</a>
      </div>
    </div>

    <h1 id="inst" style="font-family:inherit;text-align:center;color:maroon">
      click on a cell to play!!
    </h1>
    <h1
      id="inst1"
      style="display:none; font-family:inherit;text-align:center;color:maroon;"
    >
      click the button to play again !!
    </h1>

    <div class="game" style="display:flex; width:90%; margin:auto;">
      <div style="flex:3;">
        <div class="row">
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
        </div>

        <div class="row">
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
        </div>

        <div class="row">
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
          <img
            class="ce"
            src="/static/cell.jpg"
            style="height:150px; width:150px;"
          />
        </div>
      </div>

      <div class="players" style=" flex:3;text-align: center">
        <div>
          <img id="1" src="/static/dot.png" style="height:auto; width:40px;" />
          <a 
            id="p1"
            style="font-size: 30px;font-family:Verdana, Geneva, Tahoma, sans-serif"
            >You play as
          </a>
          <img
            src="/static/x.jpg"
            style="height:40px; width:40px;padding-left:20px;"
          />
          <img
            class="win1"
            src="/static/white.jpg"
            style="height:80px; width:80px;padding-left:20px;"
          />
        </div>
        <br />
        <br>
        <br>

        <div>
          <img
            id="2"
            src="/static/confident.jpg"
            style="height:90px; width:100px;margin-right:10px;border-radius:10px;"
          />

          <a
            id="p2"
            style="font-size: 30px;font-family:Verdana, Geneva, Tahoma, sans-serif"
            >Bob plays as
          </a>
          <img
            src="/static/o.jpg"
            style="height:40px; width:40px;padding-left:20px;"
          />
          <img
            class="win2"
            src="/static/white.jpg"
            style="height:80px; width:80px; padding-left:20px;"
          />
        </div>
        <br />
        <div style="text-align:center;  ">
          <h1
            class="draw"
            style="display:none; color:black; font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;"
          >
            It's a Draw
          </h1>
          <br />
        </div>

        <div style=" text-align: center; padding:30px 0px;">
          <center>
            <a class="reset" style="display:none;" href="com.html"
              >PLAY AGAIN !!!</a
            >
          </center>
        </div>
      </div>
    </div>
  </div>
  <script>
    var perm = "hhhh";
    fetch("http://localhost:5000/com", {
      method: "GET"
    })
      .then(data => {
        return data.json();
      })
      .then(res => {
        console.log(res.data);
        perm = res.data;
      })
      .catch(err => console.log(err));
    var tmp = new Array();

  
    function play1() {
      $(".win1").attr("src", "/static/win.gif");
      $(".reset").css("display", "block");
      $("#1").attr("src", "/static/white.jpg");
      $("#2").attr("src", "/static/crying.gif");
      $(".ce").off("click");
      $("#inst").hide();
      $("#inst1").show();
      // $("html, body").animate({ scrollTop: $(document).height() }, 1000);
      $(".win1").animate({
                 height: 'auto',
                 width: '100px'
             });
      $(".reset").animate({
                 height: 'auto',
                 width: '60%'
             });
      document.getElementById("p1").innerHTML = "You Won !!!";
      document.getElementById("p2").innerHTML = "BOb lost :(";
    }

    function play2() {
      $(".win2").attr("src", "/static/win.gif");
      $(".reset").css("display", "block");
      $("#1").attr("src", "/static/white.jpg");
      $("#2").attr("src", "/static/confident.jpg");
      $(".ce").off("click");
      $("#inst").hide();
      $("#inst1").show();
      // $("html, body").animate({ scrollTop: $(document).height() }, 1000);
      $(".win2").animate({
                 height: 'auto',
                 width: '80px'
             });
      $(".reset").animate({
                 height: 'auto',
                 width: '60%'
             });

      document.getElementById("p1").innerHTML = "You lost :(";
      document.getElementById("p2").innerHTML = "Bob won !!!";
    }

    var c1 = 0;
    var x2 = 1;
    var l = 0;
    var j;
    var flag = 0;
    g = ".........";

    $(document).ready(function() {
      $(".top").animate({
        opacity: "1",
        height: "auto",
        width: "80%"
      });

      $(".game").animate({
        opacity: ".95",
        height: "auto",
        width: "80%"
      });

      //human vs computer

      $(".ce").click(function() {
        // Change src attribute of image
        if ($(this).attr("src") == "/static/cell.jpg") {
          var ce = document.getElementsByClassName("ce");

          i = $(ce).index(this);

          if (c1 % 2 == 0) {
            $(this).attr("src", "/static/x.jpg");
            var x = parseInt(i);
            g = g.substr(0, x) + "x" + g.substr(x + 1, 9 - x);
            c1++;
            check("ce", c1);
            j = 0;

            if($(".win1").attr("src") != "/static/win.gif")
            {

            for (j = 0; j < perm.length; j++) {
              if (g == perm[j][0]) {
                flag = 1;
                break;
              }
            }

            if (flag == 1) {
              $(ce[perm[j][1]]).attr("src", "/static/o.jpg");
              i = perm[j][1];
              var x = parseInt(i);
              g = g.substr(0, x) + "o" + g.substr(x + 1, 9 - x);
              c1++;
              check("ce", c1);
              flag = 0;
              $("#2").attr("src", "/static/confident.jpg");

            } 
            
            else {
              i=0;
              $("#2").attr("src", "/static/scared.gif");
              while($(ce[i]).attr("src") != "/static/cell.jpg" && i<9)
              {
                i+=1;
              }
              $(ce[i]).attr("src", "/static/o.jpg");
              var x = parseInt(i);
              g = g.substr(0, x) + "o" + g.substr(x + 1, 9 - x);
              c1++;
              check("ce", c1);
            }
            // alert("hi");
            // alert(c1);

          }
          }
          }
        
      });
    });

    function check(mem, n) {
      var x = document.getElementsByClassName(mem);
      //check rows
      for (i = 0; i < 9; i += 3) {
        if (
          $(x[i]).attr("src") == "/static/x.jpg" &&
          $(x[i + 1]).attr("src") == "/static/x.jpg" &&
          $(x[i + 2]).attr("src") == "/static/x.jpg"
        ) {
          play1();
        }
      }

      for (i = 0; i < 9; i += 3) {
        if (
          $(x[i]).attr("src") == "/static/o.jpg" &&
          $(x[i + 1]).attr("src") == "/static/o.jpg" &&
          $(x[i + 2]).attr("src") == "/static/o.jpg"
        ) {
          play2();
        }
      }
      //check columns
      for (i = 0; i < 3; i += 1) {
        if (
          $(x[i]).attr("src") == "/static/x.jpg" &&
          $(x[i + 3]).attr("src") == "/static/x.jpg" &&
          $(x[i + 6]).attr("src") == "/static/x.jpg"
        ) {
          play1();
        }
      }

      for (i = 0; i < 3; i += 1) {
        if (
          $(x[i]).attr("src") == "/static/o.jpg" &&
          $(x[i + 3]).attr("src") == "/static/o.jpg" &&
          $(x[i + 6]).attr("src") == "/static/o.jpg"
        ) {
          play2();
        }
      }

      //check diagonals
      if (
        $(x[0]).attr("src") == "/static/x.jpg" &&
        $(x[4]).attr("src") == "/static/x.jpg" &&
        $(x[8]).attr("src") == "/static/x.jpg"
      ) {
        play1();
      }

      if (
        $(x[2]).attr("src") == "/static/x.jpg" &&
        $(x[4]).attr("src") == "/static/x.jpg" &&
        $(x[6]).attr("src") == "/static/x.jpg"
      ) {
        play1();
      }

      if (
        $(x[0]).attr("src") == "/static/o.jpg" &&
        $(x[4]).attr("src") == "/static/o.jpg" &&
        $(x[8]).attr("src") == "/static/o.jpg"
      ) {
        play2();
      }

      if (
        $(x[2]).attr("src") == "/static/o.jpg" &&
        $(x[4]).attr("src") == "/static/o.jpg" &&
        $(x[6]).attr("src") == "/static/o.jpg"
      ) {
        i;
        play2();
      }

      if (
        n >= 9 &&
        $(".win1").attr("src") == "/static/white.jpg" &&
        $(".win2").attr("src") == "/static/white.jpg"
      ) {
        $(".draw").css("display", "block");
        $(".reset").css("display", "block");
        $("#1").attr("src", "/static/white.jpg");
        $("#2").attr("src", "/static/crying.gif");
        // alert("hi");
        $("#inst").hide();
        $("#inst1").show();
        // $("html, body").animate({ scrollTop: $(document).height() }, 1000);
        $(".reset").animate({
                 height: 'auto',
                 width: '60%'
             });
      }
    }
  </script>
</body>
